/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/
body{
  max-width: 990px;
  margin:auto;
  font-family: Helvetica, Arial, sans-serif;
  line height: 1.6;
  background-color: grey;
  height: 2000px;
}

body > div{
  border: 1px solid #ffd24a;
  font-size: 20px;
  height: 1800px;
}

body ul{
  padding: 10px;
}

#logo img{
  height: 50px;
  padding-bottom: 20px;
}

#site_header{
  background-color: #ff8523;
  padding: 20px;
  height: 110px;
}

.main_navigation a{
    border: 1px solid #D1D67C;
    border-color: white;
    color: white;
    font-weight: bold;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
  }






  #page_content{
    background-color: white;
    padding: 20px 5px 20px 5px;
  }

  h3, h2{
    color: #1fabe5;
    padding: 0;
    text-align: left;
  }

  h2{
    padding-bottom: 10px;
  }

  #page_content a{
    color: #1fabe5;
    font-weight: 400;
  }

  section {
    border-bottom: 1px solid #dddddd;
    border-width: 5px;
    padding: 20px 20px 50px 20px
  }

  ul{
    font-weight: 800;
    line-height: 1.6
  }






  table{
    width: 99.5%;
  }

  table, td{
    border-collapse: collapse;
    border: 1px solid #1fabe5;
  }

  thead td{
    color: white;
    background-color: #1fabe5;
    border-color: black;
    padding: 10px;
  }

  tbody td{
  padding: 5px;
  }

  tbody, img{
    height: 70px;
  }

  form{
    padding: 1px;
    background-color: #eee;
    height: 610px;
    border-radius: 10px;
  }

  .name{
    margin: 20px 20px 20px 20px;
    padding: 25px 30px;
    background-color: #ff8523;
    border-radius: 8px;
    color: white;
    font-weight: 700;
  }

  .name input{
    height: 50px;
    width: 30%;
    border-radius: 4px;
    margin-right: 20px;
  }

  .city_container{
    padding: 30px 20px;
    font-weight: 700;
  }

  label[for="bio"]{
    font-weight: 700;
    padding: 20px 20px;
  }

  textarea[name="bio"]{
    margin: 20px 20px;
    width: 93%;
    height: 210px;
    font-size: 25px;
    padding: 10px;
    border-color: #1fabe5;
  }

  .submit_container input{
    font-weight: 700;
    height: 55px;
    width: 100px;
    margin: 5px 20px;
    background-color: #1fabe5;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
  }
